body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  font-family: "Josefin Sans";
  font-size: 2vw;
}
#date-input{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    margin: 2px;
    font-size: 1.8vw;
}
.cal-btn{
    background: rgb(76, 76, 76);
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 2vw;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cal-btn:hover{
    background-color: #383838;
}
.jsControl{
    font-weight: 700;
}